<% if resource.errors.any? %>
  <div data-turbo-cache="false" class="alert alert-alert">
      <% resource.errors.full_messages.each do |message| %>
        <h6><%= message %></h6>
      <% end %>
  </div>
<% end %>
